$menu:#505050;
$bgcolor:#1B7642;
$indicatorblue:#265781;
$indicatorgreen:#52B27B;
$indicatoryellow:#F2E162;
$whitebg:#ffff;
$blacktext:#000;
$bggray:#E8E8E4;
$bgbrown:#3F3531;
$greenknowmore:#44AF72;
$greeninput:#145A32;
$afterwhite:#F8F8F8;